/* @VARIABLES */
// Colores
$btn: #969696;
$black: #222;
$white: white;

// Ancho máximo
$max-width-container: 1350px;

// Breackpoints
$desktop: 960px;

// Tamaños de letra
$font-size-menu: 1.125rem;