.container-keepbuying {
    display: flex;
    justify-content: center;
}

.btn-seguir {
    display: inline-block;
    margin-right: 1.5rem;
} 

.btn-carrito {
    display: inline-block;
    background-color: $black;
    color: $white;
} 