@media screen and (max-width:$desktop){
    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        color: $white;
    }
    
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-size: $font-size-menu;
        padding: 1rem;
    
        &__item {
            padding: .625rem;
            order: 2;
            width: 100%;
            text-align: center;
            display: none;
        }
    
        &__toggle {
            order: 1;
    
            &__btn {
                color: white;
            }
        }
    }
    
    .navigation {
        display: none;
    }
}